<div class="bg-orange-darker p-2 shadow text-xl text-white">
    <h3 class="pl-2">Please insert the datas for a new restaurant</h3>
</div>
<%= render "form.html", Map.put(assigns, :action, Routes.restaurant_path(@conn, :create) ) %>
<span><%= link "back", to: Routes.restaurant_path(@conn, :index) %></span>